<%= form_with(model: data_collect, url: sensor_data_collects_path, local: true) do |form| %>


  <div class="field">
    <%= form.label :data_measure %>
    <%= form.text_field :data_measure, id: :data_collect_data_measure %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :data_collect_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
