<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <p class="navbar-brand"> <%= link_to "BioDigestor V1.0", '/'  %></p>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-cloud fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-alerts">
        <li>
          <div>
            <i class="fa fa-cloud-download fa-fw"></i> <%= link_to 'Receber Dados', send_data_path %>
            <span class="pull-right text-muted small">4 minutes ago</span>
          </div>
        </li>
        <li class="divider"></li>
        <li>
          <div>
            <i class="fa fa-cloud-upload fa-fw"></i> <%= link_to 'Enviar Dados', send_data_path %>
            <span class="pull-right text-muted small">12 minutes ago</span>
          </div>
        </li>
        <li class="divider"></li>
        <li>
            <div>
              <i class="fa fa-cloud-upload fa-fw"></i> <%= link_to 'Sincronizar Dados', synchronize_data_path %>
              <span class="pull-right text-muted small">12 minutes ago</span>
            </div>
        </li>
      </ul>
      <!-- /.dropdown-alerts -->
    </li>
  </ul>
  <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse collapse">
      <ul class="nav in" id="side-menu">
        <li class="sidebar-search">
          <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
          <!-- /input-group -->
        </li>
        <li>
          <a href="/" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
        </li>
        <li>
          <a href="/"><i class="fa fa-files-o fa-fw"></i>  Sensores <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse">
            <li>
              <%= link_to "Temperatura", sensor_path(@sensors.find_by(name: "TEMPDS")) %>
            </li>
            <li>
              <%= link_to "Nível", sensor_path(@sensors.find_by(name: "LEVEL")) %>
            </li>
            <li>
              <%= link_to "Pressão", sensor_path(@sensors.find_by(name: "PRESSURE")) %>
            </li>
            <li>
              <%= link_to "PH", sensor_path(@sensors.find_by(name: "PH")) %>
            </li>
            <li>
              <%= link_to "Concentração", sensor_path(@sensors.find_by(name: "CONCENTRATION")) %>
            </li>
          </ul>
          <!-- /.nav-second-level -->
        </li>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>
