<div id="page-wrapper">
  <h1 class="page-header"><%= @sensor.codename %></h1>
  <div class="row">
    <div class="col-lg-4">
      <% if @sensor.name == "TEMPDS"%>
      <div class="panel panel-red">
        <div class="panel-heading">
          Monitoramento de temperatura
        </div>
        <div class="panel-body">
          <p>A temperatura influencia no metabolismo bacteriano, por isso ela precisa ser monitorada,
            uma vez que a faixa de temperatura ideal é entre 30∘𝐶 a 45∘𝐶, abaixo ou acima
            dessa faixa diminui o rendimento da produção e as bactérias podem morrer.
          </p>
        </div>
        <div class="panel-footer">
          Panel Footer
        </div>
      </div>
      <% elsif @sensor.name == "LEVEL" %>
      <div class="panel panel-green">
        <div class="panel-heading">
          Monitoramento de nível
        </div>
        <div class="panel-body">
          <p>É necessário saber a todo momento qual o nível do líquido biofertilizante no interior
            do biodigestor, pois é a partir deste parâmetro que o servidor sabe quanto de volume
            útil existe para produção de gás metano, sabe quando o nível está se aproximando do
            mínimo e no sentido oposto sabe quando o biodigestor atingiu o nível máximo.
          </p>
        </div>
        <div class="panel-footer">
          Panel Footer
        </div>
      </div>
      <% elsif @sensor.name == "PRESSURE" %>
      <div class="panel panel-yellow">
        <div class="panel-heading">
          Monitoramento de Pressão
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
        </div>
        <div class="panel-footer">
          Panel Footer
        </div>
      </div>
      <% elsif @sensor.name == "PH" %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          Monitoramento de PH
        </div>
        <div class="panel-body">
          <p>Durante a digestão anaeróbica, é de fundamental importância buscar manter o
            pH em uma faixa adequada, uma vez que são encontrados distintos grupos de bactérias
            atuando na degradação dos compostos orgânicos. De acordo com (CAMPOS et al., 2006),
            a faixa fica entre 6,5 e 7,5, para o melhor desempenho dos microrganismos.
          </p>
        </div>
        <div class="panel-footer">
          Panel Footer
        </div>
      </div>
      <% elsif @sensor.name == "CONCENTRATION" %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Monitoramento da Concentração
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="panel-footer">
          Panel Footer
        </div>
      </div>
      <%end%>
      <!-- /.col-lg-4 -->
    </div>
    <div class="col-lg-8">
      <!-- Grafico Temperatura -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i> <%= @sensor.codename %> Vs Tempo
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                Actions
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="#">Action</a>
                </li>
                <li><a href="#">Another action</a>
                </li>
                <li><a href="#">Something else here</a>
                </li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div id="morris-area-chart"><%= line_chart @data_collects.pluck(:data_measure, :value), adapter: "highcharts"%></div>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-12">
      <script>
      // Zoom Graph Script

      window.onload = function () {

        var chart1 = new CanvasJS.Chart("chartContainer1", {
          theme: "light2", // "light1", "light2", "dark1", "dark2"
          animationEnabled: true,
          zoomEnabled: true,
          data: [{
            type: "area",
            dataPoints: []
          }]
        });

        addDataPoints(1000);
        chart1.render();

        function addDataPoints(noOfDps) {
          var xVal1 = chart1.options.data[0].dataPoints.length + 1, yVal1 = 0;
          for(var i = 0; i < noOfDps; i++) {
            yVal1 =  Math.random() * (1.5 - 0.01) + 0.01;
            chart1.options.data[0].dataPoints.push({x: xVal1,y: yVal1});
            xVal1++;
          }
        }

        // Real Time Script

        var dps = []; // dataPoints
        var chart = new CanvasJS.Chart("chartContainer", {
          axisY: {
            includeZero: false
          },
          data: [{
            type: "line",
            dataPoints: dps
          }]
        });

        var xVal = <%= @data_collects.count%>;
        var yVal = 100;

        var updateInterval = 1000;
        var dataLength = 20; // number of dataPoints visible at any point

        var updateChart = function (count) {

          count = count || 1;

          for (var j = 0; j < count; j++) {
            <% last = @data_collects.last.id %>
            var kas = <% last%>
            console.log(kas)
            yVal = <%= DataCollect.find(last).value %>;
            <% last -= 1 %>
            dps.push({
              x: xVal,
              y: yVal
            });
            xVal++;
          }

          if (dps.length > dataLength) {
            dps.shift();
          }

          chart.render();
        };

        updateChart(dataLength);
        setInterval(function(){updateChart()}, updateInterval);



      }
      </script>
      <!-- Zoom Graph -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i> <%= @sensor.codename %> Vs Tempo / Zoom Graph
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                Actions
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="#">Action</a>
                </li>
                <li><a href="#">Another action</a>
                </li>
                <li><a href="#">Something else here</a>
                </li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div id="chartContainer1" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
      </div>
      <!-- Real Time Graph -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i> <%= @sensor.codename %> Vs Tempo / Real Time
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                Actions
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="#">Action</a>
                </li>
                <li><a href="#">Another action</a>
                </li>
                <li><a href="#">Something else here</a>
                </li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
      </div>

      <!-- Zoom Graph Highcharts -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i> <%= @sensor.codename %> Vs Tempo / Zoom Graph
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                Actions
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="#">Action</a>
                </li>
                <li><a href="#">Another action</a>
                </li>
                <li><a href="#">Something else here</a>
                </li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
      </div>

      <script type="text/javascript">
      $.getJSON(
        'http://localhost:3000/sensors/' + <%= @sensor.id %> + '/data_collects',
        function (data) {
          Highcharts.chart('container', {
            chart: {
              zoomType: 'x'
            },
            title: {
              text: 'temperatura vs tempo'
            },
            subtitle: {
              text: document.ontouchstart === undefined ?
              'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
            },
            xAxis: {
              type: 'datetime'
            },
            yAxis: {
              title: {
                text: 'Exchange rate'
              }
            },
            legend: {
              enabled: false
            },
            plotOptions: {
              area: {
                fillColor: {
                  linearGradient: {
                    x1: 0,
                    y1: 0,
                    x2: 0,
                    y2: 1
                  },
                  stops: [
                    [0, Highcharts.getOptions().colors[0]],
                    [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                  ]
                },
                marker: {
                  radius: 2
                },
                lineWidth: 1,
                states: {
                  hover: {
                    lineWidth: 1
                  }
                },
                threshold: null
              }
            },

            series: [{
              type: 'area',
              name: 'USD to EUR',
              data: data
            }]
          });
        }
      );
      </script>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>
