<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Visão geral do sistema</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <% if flash[:notice] %>
  <div id="notice" class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <%= notice %>
  </div>
  <% end %>


  <h2 id='tituloH2' style="display: none;"></h2>
  <div id='notificacaoDiv' style="display: none;"></div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel">Detalhes da Notificação</h4>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  
  <!-- /.row -->
  <div class="row">

    <!-- Temperatura -->
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-red">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-thermometer fa-2x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <% if @temperature.last != nil %>
              <div class="huge"><%= '%.2f' % @temperature.last.value%> ºC</div>
              <%=@temperature.last.data_measure.strftime("%d/%m/%Y - %I:%M %p")%>
              <% else %>
              <div class="huge"> 0 dados</div>
              <% end %>

              <div>Temperatura</div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <%= link_to "View Details", sensor_path(@sensors.find_by(name: "TEMPDS")) %>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <!-- Nível -->
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-green">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-2">
              <i class="fa fa-level-up fa-2x"></i>
            </div>
            <div class="col-xs-10 text-right">
              <% if @level.last != nil %>
              <div class="huge"><%= '%.2f' % @level.last.value %> cm³</div>
              <%=@level.last.data_measure.strftime("%d/%m/%Y - %I:%M %p")%>
              <% else %>
              <div class="huge"> 0 dados</div>
              <% end %>
              <div>Nível</div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <%= link_to "View Details", sensor_path(@sensors.find_by(name: "LEVEL")) %>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <!-- Pressão -->
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-yellow">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-2">
              <i class="fa fa-tachometer   fa-2x"></i>
            </div>
            <div class="col-xs-10 text-right">
              <% if @pressure.last != nil %>
              <div class="huge"><%='%.2f' %  @pressure.last.value %> kPa</div>
              <%=@pressure.last.data_measure.strftime("%d/%m/%Y - %I:%M %p")%>
              <% else %>
              <div class="huge"> 0 dados</div>
              <% end %>
              <div>Pressão</div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <%= link_to "View Details", sensor_path(@sensors.find_by(name: "PRESSURE")) %>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <!-- PH -->

    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-thermometer fa-2x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <% if @ph.last != nil %>
              <div class="huge"><%= '%.5f' % @ph.last.value%></div>
              <%=@ph.last.data_measure.strftime("%d/%m/%Y - %I:%M %p")%>
              <% else%>
              <div class="huge"> 0 dados</div>
              <% end %>
              <div>PH</div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <%= link_to "View Details", sensor_path(@sensors.find_by(name: "PH")) %>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <!-- Concentration -->

    <div class="col-lg-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-thermometer fa-2x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <% if @methane_gas.last != nil %>
                <div class="huge"><%= '%.2f' % @methane_gas.last.value%> ppm</div>
                <%=@methane_gas.last.data_measure.strftime("%d/%m/%Y - %I:%M %p")%>
              <% else %>
              <div class="huge"> 0 dados</div>
              <% end %>
              <div>Concentração</div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <%= link_to "View Details", sensor_path(@sensors.find_by(name: "CONCENTRATION")) %>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-8">

      <!-- Grafico Temperatura -->
      <% if @temperature.last != nil %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i> Temperatura Vs Tempo
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                Actions
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="#">Action</a>
                </li>
                <li><a href="#">Another action</a>
                </li>
                <li><a href="#">Something else here</a>
                </li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div id="morris-area-chart"><%= line_chart get_last_fifty_path(:id => @sensors.find_by(name: "TEMPDS")), adapter: "highcharts", refresh: 5%></div>
        </div>
        <!-- /.panel-body -->
      </div>
      <% end %>

      <!-- Gráfico Nível -->
      <% if @level.last != nil %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i> Nível Vs Tempo
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                Actions
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="#">Action</a>
                </li>
                <li><a href="#">Another action</a>
                </li>
                <li><a href="#">Something else here</a>
                </li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div id="morris-area-chart"><%= line_chart get_last_fifty_path(:id => @sensors.find_by(name: "LEVEL")), adapter: "highcharts", refresh: 5%></div>
        </div>
        <!-- /.panel-body -->
      </div>
      <% end %>

      <!-- Gráfico Pressão -->
      <% if @pressure.last != nil %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i> Pressão Vs Tempo
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                Actions
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="#">Action</a>
                </li>
                <li><a href="#">Another action</a>
                </li>
                <li><a href="#">Something else here</a>
                </li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div id="morris-area-chart"><%= line_chart get_last_fifty_path(:id => @sensors.find_by(name: "PRESSURE")), adapter: "highcharts", refresh: 5%></div>
        </div>
        <!-- /.panel-body -->
      </div>
      <% end %>

      <!-- Gráfico de pH -->
      <% if @ph.last != nil %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i> pH Vs Tempo
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                Actions
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="#">Action</a>
                </li>
                <li><a href="#">Another action</a>
                </li>
                <li><a href="#">Something else here</a>
                </li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div id="morris-area-chart"><%= line_chart get_last_fifty_path(:id => @sensors.find_by(name: "PH")), adapter: "highcharts", refresh: 5%></div>
        </div>
        <!-- /.panel-body -->
      </div>
      <% end %>

      <!-- Gráfico de Concentração -->
      <% if @methane_gas.last != nil %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i> Concentração Vs Tempo
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                Actions
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="#">Action</a>
                </li>
                <li><a href="#">Another action</a>
                </li>
                <li><a href="#">Something else here</a>
                </li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div id="morris-area-chart"><%= line_chart get_last_fifty_path(:id => @sensors.find_by(name: "CONCENTRATION")), adapter: "highcharts", refresh: 5%></div>
        </div>
        <!-- /.panel-body -->
      </div>
      <% end %>

      <!-- /.panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i> Volume de Dados Coletados / Dia
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                Actions
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="#">Action</a>
                </li>
                <li><a href="#">Another action</a>
                </li>
                <li><a href="#">Something else here</a>
                </li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div id="morris-bar-chart"><%= column_chart @data_collects.group_by_day(:data_measure).count %></div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <ul class="timeline">
            <li>
              <div class="timeline-badge"><i class="fa fa-check"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Lorem ipsum dolor</h4>
                  <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small>
                  </p>
                </div>
                <div class="timeline-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium, porro voluptas suscipit facere rem dicta, debitis.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Lorem ipsum dolor</h4>
                </div>
                <div class="timeline-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem quibusdam, tenetur commodi provident cumque magni voluptatem libero, quis rerum. Fugiat esse debitis optio, tempore. Animi officiis alias, officia repellendus.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maiores odit qui est tempora eos, nostrum provident explicabo dignissimos debitis vel! Adipisci eius voluptates, ad aut recusandae minus eaque facere.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Lorem ipsum dolor</h4>
                </div>
                <div class="timeline-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus numquam facilis enim eaque, tenetur nam id qui vel velit similique nihil iure molestias aliquam, voluptatem totam quaerat, magni commodi quisquam.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Lorem ipsum dolor</h4>
                </div>
                <div class="timeline-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge info"><i class="fa fa-save"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Lorem ipsum dolor</h4>
                </div>
                <div class="timeline-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.</p>
                  <hr>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-gear"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a>
                      </li>
                      <li><a href="#">Another action</a>
                      </li>
                      <li><a href="#">Something else here</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Lorem ipsum dolor</h4>
                </div>
                <div class="timeline-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam. Officia quam qui adipisci quas consequuntur nostrum sequi. Consequuntur, commodi.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Lorem ipsum dolor</h4>
                </div>
                <div class="timeline-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt obcaecati, quaerat tempore officia voluptas debitis consectetur culpa amet, accusamus dolorum fugiat, animi dicta aperiam, enim incidunt quisquam maxime neque eaque.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
      <!-- /.panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i> Volume de Dados VS Sensor
        </div>
        <div class="panel-body">
          <div id="morris-donut-chart"><%= pie_chart @dataCollectedFromSensorsWithName, donut: true %></div>
          <a href="#" class="btn btn-default btn-block">View Details</a>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
      <!-- /.panel .chat-panel -->
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
</div>
<!-- /#page-wrapper -->

</div>
<script>
  $( document ).ready(function() {
    var highchartsOptions = Highcharts.setOptions({
      lang: {
            loading: 'Aguarde...',
            months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            weekdays: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
            shortMonths: ['Jan', 'Fev', 'Mar', 'Abr', 'Maio', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            exportButtonTitle: "Exportar",
            printButtonTitle: "Imprimir",
            rangeSelectorFrom: "De",
            rangeSelectorTo: "Até",
            rangeSelectorZoom: "Periodo",
            downloadPNG: 'Download imagem PNG',
            downloadJPEG: 'Download imagem JPEG',
            downloadPDF: 'Download documento PDF',
            downloadSVG: 'Download imagem SVG'
            // resetZoom: "Reset",
            // resetZoomTitle: "Reset,
            // thousandsSep: ".",
            // decimalPoint: ','
            }
      }
  );

  });
</script>

<!-- /#wrapper -->
<script>
console.log("entrou no script")
var id = 0;
var id_closed_notification = []
setInterval(updateNotification, 1000);

function preparaDiv(id, message){
  div = document.createElement("div");
  div.id = id
  div.classList.add("alert");
  div.classList.add("alert-danger");
  div.classList.add("alert-dismissable");
  div.innerHTML = message + ". ";

  return div;
}

function preparaBotao(id){
  botao = document.createElement("button");
  botao.id = id
  botao.classList.add("close");
  botao.setAttribute("type" , "button");
  botao.setAttribute("data-dismiss" , "alert");
  botao.setAttribute("aria-hidden" , "true");
  botao.innerHTML = "x";
  botao.onclick = function() { id_closed_notification.push(id)};
  return botao;
}

function preparaLink(id){
  a = document.createElement("a")
  a.id = id
  a.innerHTML = "mais informações"
  a.setAttribute("data-toggle" , "modal");
  a.setAttribute("data-target" , "#myModal" + id);

  return a;
}

function criaModalPai(id){
  modalPai = document.createElement("div");
  modalPai.id = "myModal" + id;
  modalPai.setAttribute("tabindex" , "-1");
  modalPai.setAttribute("role" , "dialog");
  modalPai.setAttribute("aria-labelledby" , "myModalLabel");
  modalPai.setAttribute("aria-hidden" , "true");
  modalPai.classList.add("modal");
  modalPai.classList.add("fade");

  return modalPai;
}

function criaModalFilha(){
  divFilha = document.createElement("div");
  divFilha.classList.add("modal-dialog");

  return divFilha;
}

function criaDivFilhaFilha(){
  divFilhaFilha = document.createElement("div");
  divFilhaFilha.classList.add("modal-content");

  return divFilhaFilha;
}

function criaDivHeader(id){
  divHeader = document.createElement("div");
  divHeader.classList.add("modal-header");

  h4 = document.createElement("H4");
  h4.classList.add("modal-title");
  h4.innerHTML = "Detalhes da Notificação";


  botaoModal = document.createElement("button");
  botaoModal.classList.add("close");
  botaoModal.setAttribute("type" , "button");
  botaoModal.setAttribute("data-dismiss" , "modal");
  botaoModal.setAttribute("aria-hidden" , "true");
  botaoModal.innerHTML = "x";

  divHeader.appendChild(botaoModal);
  divHeader.appendChild(h4);

  // <h4 id="myModalLabel"></h4>
  return divHeader;
}

function criaDivBody(message){
  divBody = document.createElement("div");
  divBody.classList.add("modal-body");
  divBody.innerHTML = message;

  return divBody;
}

function criaDivFooter(id){
  divFooter = document.createElement("div");
  divFooter.classList.add("modal-footer");

  botaoFecharModal = document.createElement("button");
  botaoFecharModal.innerHTML = "Marcar como lido";
  botaoFecharModal.onclick = function() { lerNotificacao(id) };

  divFooter.appendChild(botaoFecharModal);

  return divFooter;
}

function lerNotificacao(id){
  console.log("ler notificação com o id: " + id);
  $.get('../read_notification', { id: id },  function(retorno){
    return
  });
}

function removerIdsFechados(id_closed_notification, notificacoes){
  var index = 0;
  for(index = 0 ; index < notificacoes.length ; index++){
    for(index1 = 0 ; index1 < id_closed_notification.length ; index1++){
      if(notificacoes[index] != undefined){
        if(notificacoes[index].id == id_closed_notification[index1]){
          notificacoes.splice(index, 1);
        }
      }
    }
  }
  return notificacoes;
}

function updateNotification(){
  $.get('../get_last_notification', function(notificacoes){
    console.log(id_closed_notification);
    notificacoes = removerIdsFechados(id_closed_notification, notificacoes);

    if(notificacoes){
      notificacaoDiv = document.getElementById('notificacaoDiv')
      while (notificacaoDiv.firstChild) {
        notificacaoDiv.removeChild(notificacaoDiv.firstChild);
      }

      var h2 = document.getElementById('tituloH2')
      h2.style.display = "block";      
      h2.innerHTML = "Você possui " + notificacoes.length +  " notificações"
      

      notificacaoDiv.style.display = "inline-block";

      vezAtual = 0;
      qtdVezes = notificacoes.length;
      if(notificacoes[vezAtual] != undefined){
          do{
            div = preparaDiv(id, notificacoes[vezAtual].message);
            botao = preparaBotao(notificacoes[vezAtual].id);
            a = preparaLink(id)
            modalPai = criaModalPai(id);
            divFilha = criaModalFilha();
            divFilhaFilha = criaDivFilhaFilha();

            divHeader = criaDivHeader();
            divBody = criaDivBody(notificacoes[vezAtual].message);
            divFooter = criaDivFooter(notificacoes[vezAtual].id);

            divFilhaFilha.appendChild(divHeader);
            divFilhaFilha.appendChild(divBody);        
            divFilhaFilha.appendChild(divFooter);
            divFilha.appendChild(divFilhaFilha);
            modalPai.appendChild(divFilha);
            div.appendChild(botao);
            div.appendChild(a);
            document.getElementById('notificacaoDiv').appendChild(div); 
            document.getElementById('page-wrapper').appendChild(modalPai); 

            vezAtual++;
            id++;
          }while(vezAtual < qtdVezes)
        }
      id = 0;
    }else{
      notificacaoDiv = document.getElementById('notificacaoDiv')
      notificacaoDiv.style.display = "none";
      document.getElementById('tituloH2').style.display = "none";
    }
    
  });
  // document.location.href = "http://localhost:3000/get_last_notification";
}
</script>

<!-- jQuery -->
<!-- <script src="../vendor/jquery/jquery.min.js"></script> -->

<!-- Bootstrap Core JavaScript -->
<!-- <script src="../vendor/bootstrap/js/bootstrap.min.js"></script> -->

<!-- Metis Menu Plugin JavaScript -->
<!-- <script src="../vendor/metisMenu/metisMenu.min.js"></script> -->

<!-- Morris Charts JavaScript -->
<!-- <script src="../vendor/raphael/raphael.min.js"></script>
<script src="../vendor/morrisjs/morris.min.js"></script>
<script src="../data/morris-data.js"></script> -->

<!-- Custom Theme JavaScript -->
<!-- <script src="../dist/js/sb-admin-2.js"></script> -->
